/*======================GEOEUSKADI CONTENT COMPONENT======================*/

.container-fluid-content {
  float: left;
  font-family: $font-family-buttons;
  font-size: 110%;
  color: $grey-dark;
  background-image: url("../images/wide-map-content-min-1400.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 60px;
  transition: background-position 0.75s ease-in-out;

  h1 { margin-bottom: 0.5em; }
  .tab-content { letter-spacing: 0.02em; }
  .tab-content li {
    margin-bottom: 0.5em;
    list-style-type: none;
  }
  .tab-content a { text-decoration: underline; }
  .tab-content i { color: $corporate-nav-light; }
}
@media screen and (max-width: 700px) {
  .container-fluid-content {
    background-image: url("../images/wide-map-content-700.jpg");
    background-position: 50% 40px; 
  }
}
@media screen and (max-width: 1400px) {
  .container-fluid-content { 
    background-image: url("../images/wide-map-content-1400.jpg");
  }
}
.main-content {
  width: 80%;
  padding-top: 8em;
  margin-right: auto;
  margin-left: auto;
}
.intro {
  padding: 1.5em;
  margin-bottom: 2em;
  color: $euskadieus-black;
  background: $light 50%/auto 100%;
  background-size: auto 103%;
  border: 1px solid $grey-light;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.05), 0 4px 8px 3px rgba(60,64,67,0.15);
  transition: box-shadow 0.28s ease-in-out;
}