/*======================GEOEUSKADI CATALOG FILTERS COMPONENT======================*/

.select-header {
  padding-bottom: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: $font-family-forms;
  font-size: 120%;
  font-weight: 500;
  color: $grey-medium;

  .fa-filter { font-size: 80%; }
}
.select-headers {
  font-family: $font-family-forms;
  font-size: medium;
  font-weight: 500;
  text-transform: uppercase;
}
.ss-main {
  position: relative;
  display: inline-block;
  width: 100%;
  color: $grey-medium;
  user-select: none;

  .ss-single-selected {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 30px;
    padding: 6px;
    cursor: pointer;
    background-color: $light;
    border:1px solid $grey-light;
    border-radius: 4px;
    outline: 0;
    transition: background-color 0.2s;
  }
  .ss-single-selected.ss-disabled {
    cursor:not-allowed;
    background-color: $grey-light;
  }
  .ss-single-selected.ss-open-above {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .ss-single-selected.ss-open-below {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .ss-single-selected .placeholder {
    flex: 1 1 100%;
    width: calc(100% - 30px);
    line-height: 1em;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .ss-single-selected .placeholder,
  .ss-single-selected .placeholder * {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ss-single-selected .placeholder * { width: auto; }
  .ss-single-selected .placeholder .ss-disabled { color: $green-light; }
  .ss-single-selected .ss-deselect {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: flex-end;
    margin: 0 6px;
    font-weight: 700;
  }
  .ss-single-selected .ss-deselect.ss-hide { display: none; }
  .ss-single-selected .ss-arrow {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: flex-end;
    margin: 0 6px;
  }
  .ss-single-selected .ss-arrow span {
    display: inline-block;
    padding: 3px;
    border: solid $grey-medium;
    border-width: 0 2px 2px 0;
    transition:transform 0.2s, margin 0.2s;
  }
  .ss-single-selected .ss-arrow .arrow-up {
    margin: 3px 0 0;
    transform: rotate(-135deg);
  }
  .ss-single-selected .ss-arrow .arrow-down {
    margin: -3px 0 0;
    transform: rotate(45deg);
  }
  .ss-multi-selected {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 30px;
    padding:0 0 0 3px;
    margin-bottom: 0.8em;
    cursor: pointer;
    background-color: $light;
    border: 1px solid $grey-light;
    border-radius: 4px;
    outline: 0;
    transition: background-color 0.2s;
  }
  .ss-multi-selected.ss-disabled {
    cursor:not-allowed;
    background-color: $grey-light;
  }
  .ss-multi-selected.ss-disabled .ss-values .ss-disabled { color: $grey-medium; }
  .ss-multi-selected.ss-disabled .ss-values .ss-value-delete { cursor: not-allowed; }
  .ss-multi-selected.ss-open-above {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .ss-multi-selected.ss-open-below {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .ss-multi-selected .ss-values {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(100% - 30px);
  }
  .ss-multi-selected .ss-values .ss-disabled {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 5px;
    margin: 2px 0;
    overflow: hidden;
    line-height: 1em;
    color: $grey-medium-light;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ss-multi-selected .ss-values .ss-value {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    margin: 3px 5px 3px 0;
    font-size: 14px;
    color: $light;
    user-select: none;
    background-color: $corporate-nav-light;
    border-radius: 4px;
    animation-name: scaleIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }
  .ss-multi-selected .ss-values .ss-value.ss-out {
    animation-name: scaleOut;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
  }
  .ss-multi-selected .ss-values .ss-value .ss-value-delete {
    margin: 0 0 0 5px;
    font-size: larger;
    font-weight: 800;
    cursor: pointer;
  }
  .ss-multi-selected .ss-add {
    display: flex;
    flex:0 1 3px;
    margin: 9px 12px 0 5px;
  }
  .ss-multi-selected .ss-add .ss-plus {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2px;
    height: 10px;
    background: $grey-medium;
    transition: transform 0.2s;
  }
  .ss-multi-selected .ss-add .ss-plus:after {
    position: absolute;
    top: 4px;
    left: -4px;
    width: 10px;
    height: 2px;
    content: "";
    background: $grey-medium;
  }
  .ss-multi-selected .ss-add .ss-plus.ss-cross { transform: rotate(45deg); }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
.ss-content {
    position: absolute;
    z-index: 1010;
    box-sizing: border-box;
    width: 100%;
    margin: -1px 0 0;
    background-color: $light;
    border: 1px solid $grey-light;
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;
    transform: scaleY(0);
    transform-origin: center top;

    .ss-search {
      display: flex;
      flex-direction: row;
      padding: 8px 8px 6px;
    }
    .ss-search.ss-hide,
    .ss-search.ss-hide input {
      height: 0;
      padding: 0;
      margin: 0;
      opacity: 0;
    }
  .ss-search input {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-flex;
      flex: 1 1 auto;
      width: 100%;
      min-width: 0;
      height: 30px;
      padding: 6px 8px;
      margin: 0;
      font-size: inherit;
      line-height: inherit;
      text-align: left;
      background-color: $light;
      border: 1px solid $grey-light;
      border-radius: 4px;
      outline: 0;
      -webkit-appearance: textfield;
    }
    .ss-search input::placeholder {
      color: $grey-medium;
      vertical-align: middle;
    }
    .ss-search input:focus { box-shadow: 0 0 5px $corporate-nav-light; }
    .ss-search .ss-addable {
      box-sizing: border-box;
      display: inline-flex;
      flex: 0 0 30px;
      align-items: center;
      justify-content: center;
      height: 30px;
      margin: 0 0 0 8px;
      font-size: 22px;
      font-weight: 700;
      cursor: pointer;
      border: 1px solid $grey-light;
      border-radius: 4px;
    }
    .ss-addable { padding-top: 0; }
    .ss-list {
      max-height: 200px;
      overflow-x: hidden;
      overflow-y: auto;
      font-size: 90%;
      text-align: left;
    }
    .ss-list .ss-optgroup .ss-optgroup-label {
      padding: 2px 10px;
      font-weight: 700;
    }
    .ss-list .ss-optgroup .ss-option { padding: 6px 6px 6px 25px; }
    .ss-list .ss-optgroup-label-selectable { cursor: pointer; }
    .ss-list .ss-optgroup-label-selectable:hover {
      color: $light;
      background-color: $corporate-nav-light;
    }
    .ss-list .ss-option {
      padding: 6px 10px;
      cursor: pointer;
      user-select: none;
    }
    .ss-list .ss-option * { display: inline-block; }
    .ss-list .ss-option.ss-highlighted,
    .ss-list .ss-option:hover {
      color: $light;
      background-color: $corporate-nav-light;
    }
    .ss-list .ss-option.ss-disabled {
      color:#dedede;
      cursor: not-allowed;
      background-color: $light;
    }
    .ss-list .ss-option:not(.ss-disabled).ss-option-selected {
      color: $grey-medium;
      background-color:rgba(56, 80, 119, 0.1);
    }
    .ss-list .ss-option.ss-hide { display: none; }
    .ss-list .ss-option .ss-search-highlight { background-color: $yellow-light; }
   }
.ss-content.ss-open {
  display: block;
  opacity: 1;
  transform: scaleY(1)
}
.filters-button {
  display: block;
  padding: 0 2em;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 38px;
  color: $light;
  text-align: center;
  background-color: $corporate-nav-light;
  border: 1px solid $corporate-nav-light;
  border-radius: 4px;
  transition: 0.3s;

  &:hover {
    color: $corporate-nav-dark;
    background-color: $grey-light;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 1100px) {
  .filters-button { padding: 0 0.5em; }
}  