/*======================FOOTER OF THE WEBSITE======================*/ 

.footer { 
  float: left;
  width: 100%;
  padding: 2em 6em;
  margin-top: 4em;
  font-family: $font-family-subtitles;
  font-size: 100%;
  color: $grey-medium-light;
  background: $grey-dark;
  border-top: 1px $light solid;

  a:not(.scrollup), 
  h3 {
    color: $grey-medium-light;

    &:hover{ color: $light; }
  }
  .title {
    display: table-header-group;
    margin-top: 0;
    margin-bottom: 0.4em;
    font-family: "Roboto slab", sans-serif;
    font-size: 130%;
    font-weight: 300;
    line-height: 2;
    color: $light;
  }
}  
@media all and (max-width: 700px) { 
  .footer  { padding: 3em; }
}
.follow-us, 
.foot-geo-nav, 
.foot-euskadieus-nav, 
.licence { @include home-highlights(85%); }
/*
@media all and (max-width: 1400px) { 
  .follow-us, 
  .foot-geo-nav, 
  .foot-euskadieus-nav, 
  .licence  { width: 85%; }
}
*/
@media all and (max-width: 1200px) { 
  .follow-us, 
  .foot-geo-nav, 
  .foot-euskadieus-nav, 
  .licence  { width: 95%; }
}

.follow-us {
  padding-bottom: 1.2em;
  border-bottom: 1px solid $grey-medium-light;
  
  .fab {
    margin-left: 0.3em;
    font-size: 180%;
    vertical-align: middle;
  }
  span { 
    float: right; 
    text-decoration: underline;
  }
}
.foot-geo-nav { 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: start; 
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 0;
  border-bottom: 1px solid $grey-medium-light;

  ul {
    padding-left: 0;
    margin-top: 0.5em;
    list-style-type: none;
  }
  li { margin-bottom: 0.5em; }
} 

.foot-euskadieus-nav {
  padding-right: 2em;
  margin-top: 1.5em;

  ul {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: start; 
    justify-content: space-between;
    width: 80%;
    padding-left: 0;
    list-style-type: none;
  }
  li {
    display: inline;
    padding-right: 0.5em;
  }
} 
.foot a { 
  color: $light; 
  text-decoration: none; 

  &:hover { 
    text-decoration: none;
    border-top: $links solid 1px;
    border-bottom: $links solid 1px;
  } 
} 
.licence {
  font-size: small;
  
  img {
    width:120px;
    padding: 0.7em;
  }
}
@supports (display: grid) {
  .footer { 
    display: grid;
    grid-template-columns: 1fr;
  }
}