/*======================GEOEUSKADI MAIN NAVIGATION MENU======================*/

/*======================Fixed header=========================================*/ 
/*======================Accessible Multi-Level Dropdown Navigation Menu======*/ 
/*======================Scroll up for mobiles================================*/ 

/*============Start of fixed header============*/
/* The sticky class is added to the header with JS when it reaches its scroll position */
.geoeuskadinav-header.sticky {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;

  h1 { margin-top: 0.5em; }
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.geoeuskadinav-header.sticky + .main-home { padding-top: 102px; }

.container-fluid.container-fluid-img-position { 
  background-position: 50% -240px;
  transition: background-position 1s ease-in-out;
}
/*============End of fixed header============*/

/*============Start of the accessible Multi-Level Dropdown Navigation Menu (by Ire Aderinokun)============*/
.geoeuskadi-nav, 
.geoeuskadi-nav ul, 
.geoeuskadi-nav li {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
.geoeuskadinav-header {
  position: relative;
  z-index: 15;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: end;
  width: 100%;
  padding-bottom: 5px;
  background-color: $light;
  box-shadow: 0px 20px 10px -15px rgba(60,64,67, 0.3);
}
@media screen and (max-width: 700px) {
  .geoeuskadinav-header {
    height: 100px;
    color: $light;
    background-color: $corporate-nav-dark; 
    opacity: 0.95;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;

    .js-position {
      position: fixed;
    }    
  }
}
.geoeuskadinav-logo {
  grid-column: 2 / span 1;
  margin-right: 0.7em;
  margin-left: 0;
}
@media screen and (min-width: 1400px) {
  .geoeuskadinav-logo { padding-right: 2em; }
}
@media screen and (min-width: 800px) {
  .hizkuntza-aldaketa-mgk, 
  .geoeuskadi-nav .euskadilogo { display: none; }
}
.geoeuskadi-nav {
  position: relative;
  z-index: 10;
  grid-column: 3 / span 6;
  align-self: center;
  max-width: 100%;
  min-height: 40px;
  margin-left: 1.5em;
  font-family: $font-family-subtitles;
  font-size: large;
  font-weight: 400;
  color: $corporate-nav-dark;
  text-transform: uppercase;

  ul {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    position: relative;
    box-sizing: border-box; 
    display: inline;
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;

    &:hover:not(.toggle-menu) {
      color: $light;
      background-color: $corporate-nav-light;
      border: none;
      border-radius: 2px;
    }
  }
  a {
    display: block;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
  }
  a:hover { color: $light; }
  .logo-mobile { display:none; }
}
@media screen and (min-width: 700px) {
  .geoeuskadi-nav { display: inline-block; } 
}
@media screen and (max-width: 700px) {
  .geoeuskadi-nav { display: block; } 
}
@media screen and (min-width: 700px) {
  /*.geoeuskadi-nav a:focus { outline: none; }*/ 
  .geoeuskadi-nav li {
    width: 260px; 
    text-align: left;
  }
}
@media screen and (max-width: 700px) {
  .geoeuskadi-nav li {
    width: 100%; 
    text-align: center;
  } 
}
@media screen and (min-width: 1500px) {
  .geoeuskadi-nav a {
    padding: 0 18px;
  }
  .geoeuskadi-nav li {
    width: 290px;
  }
}
.geoeuskadi-nav .language {
  margin-top: 1.5em;
  font-size: medium;
  font-weight: 300;

  .lang {
    display: inline-block;
    width: auto;
    color: $light;
    text-transform: capitalize;
  }
  ul, li {
    display: inline-block;
    width: auto;
    color: $light;
    text-transform: lowercase;
    background-color: transparent;
  }
  a {
    font-weight: 500;
    text-decoration: underline;
  }
  a abbr:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 700px) {
  .geoeuskadi-nav > .geoeuskadi-menu > li:hover > a { color: $light; }
}
@media screen and (max-width: 1200px) {
  .geoeuskadi-nav { font-size: 15px; }
}
@media screen and (min-width: 700px) and (max-width: 1200px) {
  .geoeuskadi-nav .geoeuskadi-menu li .js-show-element li { width: 190px; }
}
@media screen and (max-width: 700px) {
  .geoeuskadi-nav {  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    grid-column: 1 / span 1;
    width: 100%;
    height: auto;
    margin-left: 0.5em;
    overflow: hidden;
    visibility: visible;
    opacity: 0.9;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;

    li {
      display: block;
      float: none;
    }
    a { color: $light; }
    .r01g-lang-selector li { background-image: none; }
    .logo-mobile {
      display:block;
      float: left;
      cursor: pointer;
    }
  }
  .geoeuskadinav-logo { display: none; }
  .geoeuskadinav-header {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .logo { width: 130%; }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .logo { width: 115%; }
}
@media screen and (min-width: 1200px) {
  .logo { width: 100%; }
}
.geoeuskadi-menu .fa-angle-right { display: none; }
.js-show-element li {
  color: $corporate-nav-dark;
  background-color: $grey-light;
  border-radius: 1px;
  
  li { height: 40px; }
  ul { border: 1px solid $corporate-nav-dark; }
}
@media screen and (max-width: 700px) {
  .js-show-element a { color: $light; }
  .js-show-element li { background-color: $corporate-nav-dark; }
  .geoeuskadi-menu > .js-show-element { border: none; }
  .geoeuskadi-menu > .js-show-element li { text-transform: none; }
}
@media screen and (min-width: 1200px) {
  .geoeuskadi-nav li .geoeuskadi-menu > .js-show-element li {
    width: 260px;
    font-size: medium;
  }
}
@media screen and (min-width: 700px) {
  .geoeuskadi-menu > .language:not(.toggle-menu):not(.js-show-element), 
  .geoeuskadi-menu > .home-logo:not(.toggle-menu):not(.js-show-element) { display: none; }
  .geoeuskadi-menu > .menu-item > .js-show-element {
    z-index: 20;
    border: 1px solid $corporate-nav-light;
    border-radius: 5px; 
  }
  .geoeuskadi-menu .first:not(.toggle-menu):not(.js-show-element) { display: none; }
}
@media screen and (max-width: 700px) {
  .js-expand-element {
    height: 100vh;
    animation: fadeInDown 3s ease-in-out 0s 1 normal none running;
  }
  .geoeuskadi-menu .toggle-menu {
    height: 60px;
    padding: 1em;
    margin-bottom:1.5em;
    a i {
      float: right;
      font-size: xx-large;
    }
  }
  .geoeuskadi-menu > li {
    font-size: 21px;
    font-weight: 500;
  }
  .geoeuskadi-menu > li > ul > li { 
    font-size: medium;
    font-weight: 400;
  }
}
@media screen and (max-width: 700px) {
  .home-logo { display: block; }
  .language { display: inline-block; } 
}
/* Any sub menu */
@media screen and (min-width: 700px) {
  a + ul { position: absolute; }
  a + ul:not(.js-show-element) { display: none; } 
}
@media screen and (max-width: 700px) {
  a + ul { position: relative; }
  a + ul:not(.js-hide-element) { display: block; } 
}

/* The Main Navigation Bar - Navigation Level One */
.geoeuskadi-nav > ul, 
.fa {
  height: 100%;
  line-height: 40px; 
}
.geoeuskadi-nav > ul > li {
  position: relative;
  text-align: center; 
}
@media screen and (min-width: 700px) {
  .geoeuskadi-nav > ul > li {
    float: left;
    width: auto; 
  } 
}
@media screen and (max-width: 700px) {
  .geoeuskadi-nav > ul > li {
    display: block;
    float: none;
    width: 100%; 
  } 
}
@media screen and (min-width: 700px) {
  .geoeuskadi-nav > ul > li:not(:last-child) {
    border-bottom: none; } 
  }
@media screen and (max-width: 700px) {
  .geoeuskadi-nav > ul > li:not(:last-child) { border-right: none; }
}
@media screen and (min-width: 700px) {
  .geoeuskadi-nav > ul > li:not(.toggle-menu):not(.js-show-element) { display: inline-block; } 
}
@media screen and (max-width: 700px) {
  .geoeuskadi-nav > ul > li:not(.toggle-menu):not(.js-show-element) { display: none; } 
}
@media screen and (min-width: 700px) {
  .geoeuskadi-nav .toggle-menu { display: none; } 
}
@media screen and (max-width: 700px) {
  .geoeuskadi-nav .toggle-menu {
    display: block;
    width: 100%; 
  }
  .geoeuskadi-nav .js-open .fa-times { display: block; }
  .geoeuskadi-nav .js-open .fa-bars { display: none; }
  .geoeuskadi-nav .toggle-menu:not(.js-open) .fa-times { display: none; }
  .geoeuskadi-nav .toggle-menu:not(.js-open) .fa-bars { display: block; } 
}
.toggle-menu-text {
  position: absolute;
  opacity: 0; 
}

@media screen and (min-width: 700px) {
  .geoeuskadi-nav > ul > li > ul {
    top: 40px;
    left: 0; 
  } 
}
@media screen and (max-width: 700px) {
  .geoeuskadi-nav > ul > li > ul {
    position: relative; 
    width: 100%;
  }
  .geoeuskadi-nav > ul > li > ul:not(.js-show-element) { display: none; } 
}

/* Third Level Dropdown */
@media screen and (min-width: 700px) {
  .geoeuskadi-nav > ul > li > ul > li > ul {
    top: 0;
    left: 300px;
  } 
}
@media screen and (max-width: 700px) {
  .geoeuskadi-nav > ul > li > ul > li > ul {
    position: relative; 
    width: 100%;
  }
  .geoeuskadi-nav > ul > li > ul > li > ul:not(.js-show-element) { display: none; } 
}

/* Javascript classes */
.geoeuskadi-nav .js-hide-element { display: none; }
.geoeuskadi-nav .js-show-element { display: block; }
/* Fallback for users without javascript */
.no-js li:hover > a + ul, .no-js li:focus > a + ul { display: block; }
@media screen and (max-width: 700px) {
  .no-js .geoeuskadi-nav:hover > ul > li:not(.toggle-menu), 
  .no-js .geoeuskadi-nav:focus > ul > li:not(.toggle-menu) { display: block; }
  .no-js .geoeuskadi-nav:hover li:hover > a + ul, 
  .no-js .geoeuskadi-nav:hover li:focus > a + ul, 
  .no-js .geoeuskadi-nav:focus li:hover > a + ul, 
  .no-js .geoeuskadi-nav:focus li:focus > a + ul { display: block; }
}
/*============End of the accessible Multi-Level Dropdown Navigation Menu============*/

/*============Start of scroll up for mobiles============*/

.scrollup {
  color: $corporate-nav-light;
  background-image: url("https://www.euskadi.eus/images/z16-ikono_gezi_urdin_gora.gif");
  border: 3px solid $corporate-nav-light;
}
.scrollup-p { display: none; }

@media screen and (max-width: 700px) {
  .scrollup-p { display: block; }
  .scrollup {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 10;
    display: block;
    width: 60px;
    height: 60px;
    padding: 15px 5px 5px;
    font-size: 65%;
    font-weight: 600;
    color: $corporate-nav-light;
    text-align: center;
    text-decoration: none;
    background: url("https://www.euskadi.eus/contenidos/recurso_tecnico/euskadieus_baliabideak/eu_def/images/web01-2014_ikono_gezi_urdin_gora.gif") no-repeat center 1px $light;
    border: 3px solid $corporate-nav-light;
    border-radius: 30px;

    &:hover { color: $corporate-nav-dark; }
  }
}
/*============End of scroll up for mobiles============*/