/*======================GEOEUSKADI SEARCH COMPONENT======================*/

.search-content {
  width: 78%;
  padding-top: 8em;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent; 
}
.filters {
  float: left;
  width: 25%;
  height: 20em;
  padding: 0.8em;
  margin-right: 2%;
  font-family: $font-family-forms;
  font-size: 100%;
  background-color: $grey-light;
  border-radius: 10px;
}
@media screen and (max-width: 900px) {
  .filters { 
    width: 95%; 
    margin-bottom: 1em;
  }
}
.source-nav-bar-and-results {
  float: left;
  width: 71%;
  margin-left: 2%;

  .sr-item {
    margin-bottom: 2em;
    list-style-type: none;
  }
  .sr-item-doc-name {
    font-size: 110%;
    font-style: normal;
    color: $corporate-nav-light;
  }
  .sr-item-typo-ds-geograficos, 
  .sr-item-typo-det, 
  .sr-item-cat > em > span:nth-child(2) {
    display: none;
  }
  .search-results-nav-bar { margin-bottom: 2em; }
  .sr-item-risp-link {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }
  .source-search-results ul { padding-left: 0; }
  .risp-result-label, .risp-result-files {
    float: left;
    width: auto;
    font-size: 85%;
    font-weight: 300;
  }
  .risp-result-files {
    margin-left: 0.4em;
    font-weight: 400;

    li { list-style-type: none; }
  }
  .risp-result-files > ul > li { display: inline-block; }
  .sr-item-cat {
    float: left;
    width: 100%;
    margin-top: 0.4em;
    margin-bottom: 2em;
  }
}

/* Searchbox */ 

.input-group {
  position: relative;
  z-index: 4;
  display: block;
  float: left;
  width: 100%;
  margin: 1em 0;
  background: transparent;

  .col-3 {
    position: relative;
    display: inline-flex;
    float: left;
    width: 50%; 
    margin: 0; 
  } 
  .btn-primary {
    background-color: $corporate-nav-light;
    border-color: $corporate-nav-light;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      background-color: $corporate-nav-dark;
      border-color: $corporate-nav-dark;
    }
  }

  /* necessary to give position: relative to parent. */
  .input-effect input {
    box-sizing: border-box; 
    width: 100%; 
    font: 15px/24px Lato, Arial, sans-serif;
    color: $grey-dark; 
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 1000px) {
  .input-group .col-3 { width: 95%; }
}
.effect-19 {
  padding: 7px 14px;
  background: transparent;
  border: 1px solid $grey-medium;
  transition: 0.4s; 

  ~ label{
    position: absolute;
    top: 8px; 
    left: 14px; 
    z-index: -1; 
    width: 100%;
    color: $grey-medium-light; 
    letter-spacing: 0.5px;
    transition: 0.3s; 
  }
  ~ .focus-border:before,
  ~ .focus-border:after {
    position: absolute;
    top: -1px; 
    left: 50%; 
    width: 0; 
    height: 2px; 
    content: ""; 
    background-color: $corporate-nav-light; 
    transition: 0.4s;
  }
  ~ .focus-border:after{
    top: auto; 
    bottom: 0;
  }
  ~ .focus-border i:before,
  ~ .focus-border i:after {
    position: absolute; 
    top: 50%; 
    left: 0;
    width: 2px; 
    height: 0; 
    content: ""; 
    background-color: $corporate-nav-light; 
    transition: 0.6s;
  }
  ~ .focus-border i:after {
    right: 0;
    left: auto; 
  }
}
.effect-19:focus ~ .focus-border:before,
.effect-19:focus ~ .focus-border:after,
.has-content.effect-19 ~ .focus-border:before,
.has-content.effect-19 ~ .focus-border:after {
  left: 0; 
  width: 100%; 
  transition: 0.4s;
}
.effect-19:focus ~ .focus-border i:before,
.effect-19:focus ~ .focus-border i:after,
.has-content.effect-19 ~ .focus-border i:before,
.has-content.effect-19 ~ .focus-border i:after{
  top: -1px; 
  height: 100%; 
  transition: 0.6s;
}
.effect-19:focus ~ label, 
.has-content.effect-19 ~ label{
  top: -18px; 
  left: 0; 
  font-size: 12px; 
  color: $corporate-nav-dark; 
  transition: 0.3s;
}
:focus{ outline: none; }