/* ======================TABS COMPONENT====================== */

.tab-container { overflow: hidden; }
.tab-container [role="tablist"] {
  display: flex;
  padding: 0;
  margin: 0;
  box-shadow: 0px 20px 10px -15px rgba(60, 64, 67, 0.3);
}
.tab-container [role="tab"] {
  position: relative;
  flex-grow: 1;
  padding: 14px;
  font-family: $font-family-buttons;
  color: $grey-dark;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
}
.tab-container [role="tab"]:hover { background: $grey-light; }
.tab-container [role="tab"][aria-selected="true"] { color: $corporate-nav-light; }
.tab-container [role="tab"][aria-selected="true"]::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  content: "";
  background: $corporate-nav-light;
}
.tab-container .tab-content {
  position: relative;
  padding: 2.5em 1em;
}
.tab-container .tab-content [role="tabpanel"] { display: none; }
.tab-container .tab-content [role="tabpanel"][aria-expanded="true"] { display: block; }
.container-home {
  float: left;
  width: 100%;
  min-height: 700px;  
  margin-top: 6em;
  background-repeat: no-repeat;
  background-size: 100vw;

  @media all and (max-width: 700px) { 
      margin-top: 7em;
    } 
}
.item4 {
  float: left;
  padding-top: 1.3em;
  padding-right: 1em;
  padding-bottom: 2em;
  padding-left: 1em;
  margin-right: 4em;
  margin-bottom: 1em;
  color: $light;
  background-color: $corporate-nav-dark;
  border-top-right-radius: $border-radius; 
  border-bottom-right-radius: $border-radius;
  opacity: 0.9;

  h2 { color: $light; }
}
.item8 {
  float: left;
  @include container-transparency(0.8);
  padding-top: 1.3em;
  padding-right: 1em;
  padding-bottom: 2em;
  padding-left: 1em;
  margin-right: 1em;
  margin-bottom: 7em;  
}
@supports (display: grid) {
  .container-home {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, minmax(200px, 1fr)); 

    @media all and (max-width: 600px) {
      grid-template-rows: repeat(3, 220px); 
    }
  }
  .item4 {
    justify-self: center;
    align-self: center;
    @media all and (max-width: 1000px) { 
      grid-column: 1 / span 3;
      margin-right: 1em;
      margin-left: 1em;
    }
    @media all and (max-width: 600px) { 
      margin-bottom: 1em;
      opacity: 1;
    }
  }
  .item8 {
    grid-column: 2 / span 2;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
    margin-bottom: 1em;

    @media all and (max-width: 1000px) { 
      grid-column: 1 / span 3;
      margin-top: 1em;
      margin-right: 1em;
      margin-bottom: 2em;
      margin-left: 1em;
      opacity: 1;
    } 
  }
}