@function heading-font-size($heading-size) {
    @if ( $heading-size == 1 ) {
      @return 3rem;
    } @else if ( $heading-size == 2 ) {
      @return 1.5rem;
    } @else {
      @return 1rem;
    }
}