/* @mixins */

@mixin container-transparency($transparency) {
  color: $titles;
  background-color: $light;
  border-radius: $border-radius;
  opacity: $transparency;
}

/* @mixins */

@mixin home-highlights($width) {
  width: $width;
  margin-right: auto;
  margin-left: auto;
}

