@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Quicksand:wght@500&family=Titillium+Web:wght@600&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Fonts */
$font-family: "Quicksand", sans-serif;
$font-family-titles: "Roboto slab", sans-serif;
$font-family-buttons: "Roboto", sans-serif;
$font-family-subtitles: "Open Sans", sans-serif;
$font-family-contents: "PT Sans", sans-serif;
$font-family-forms: Metropolis-Regular, "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;

/* Colors */
$corporate: #0c4883;
$corporate-nav-dark: #00326D;
$corporate-nav-light: #2E68AC;
$euskadieus: #1472a4;
$grey-dark: #4e4848;
$grey-medium: #565b5f;
$grey-medium-light: #aaa;
$grey-light: #f6f6f6;
$light: #fff;
$green-light: #21c0c0;
$yellow-light: #fffb8c;
$links: rgb(64, 64, 177);
$titles: #5c636a;
$text-light: #565b5f;
$social-icons: #495057;
$base-color: rgba(255, 255, 255);
$links-dark: rgb(33, 33, 104);
$black: #0000;
$euskadieus-black: #1f1f1f;